<div class="col-12 col-sm-3 col-xl-2">
    <nav class="nav flex-column nav-pills sticky-top" id="menu">
        <a class="nav-link {% if page.name == 'index.md' %}active{% endif %}" href="/index.html">Home</a>
        <a class="nav-link {% if page.name == 'introduction.md' %}active{% endif %}" href="/introduction.html">Introduction</a>
        <ul class="collapse {% if page.name contains 'introduction' %}show{% endif %} nav flex-column ms-1" >
            <li>
                <a class="nav-link {% if page.name == 'introduction-meaning.md' %}active{% endif %}" href="/introduction-meaning.html"> &bullet; Meaning of FRAM</a>
            </li>
        </ul>
        <a class="nav-link {% if page.name == 'principles.md' %}active{% endif %}" href="/principles.html">Basic Principles</a>
        <a class="nav-link {% if page.name == 'how_to_build.md' %}active{% endif %}" href="/how_to_build.html">How to Build a FRAM model</a>
        <ul class="collapse {% if page.name contains 'how_to_build' %}show{% endif %} nav flex-column ms-1" >
            <li>
                <a class="nav-link {% if page.name == 'how_to_build-retro.md' %}active{% endif %}" href="/how_to_build-retro.html"> &bullet; Retrospective analysis</a>
            </li>
            <li>
                <a class="nav-link {% if page.name == 'how_to_build-pro.md' %}active{% endif %}" href="/how_to_build-pro.html"> &bullet; Prospective analysis</a>
            </li>
            <li>
                <a class="nav-link {% if page.name == 'how_to_build-design.md' %}active{% endif %}" href="/how_to_build-design.html"> &bullet; Design analysis</a>
            </li>
            <li>
                <a class="nav-link {% if page.name == 'how_to_build-right.md' %}active{% endif %}" href="/how_to_build-right.html"> &bullet; Finding what goes Right</a>
            </li>
        </ul>

        {% for listpage in site.pages %}

            {% if listpage.name contains ".md" %}
                {% unless listpage.name contains "-" %}
                    <a class="nav-link {% if page.name == listpage.name %}active{% endif %}" href="/{{ listpage.name | remove: '.md' }}.html">{{ listpage.title }}</a>
                {% else %}
                    <ul class="collapse {% if page.name contains {{ listpage.name | split: '-' | first | slice: 4, size | remove: '.md' }} %}show{% endif %} nav flex-column ms-1" >
                        <li>
                            <a class="nav-link {% if page.name == listpage.name %}active{% endif %}" href="/{{ listpage.name | remove: '.md' }}.html"> &bullet; {{ listpage.title }}</a>
                        </li>
                    </ul>
                {% endunless %}
            {% endif %}
            

        {% endfor %}

    </nav>
  </div>