---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6 {
  color:#800000;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
strong {
  color: #800000;
  font-size: larger;
}
table, th, td {
   border: none;
}
.inline_header {
  display: flex;
  vertical-align: middle;
}
.inline_header img {
  border: none;
  box-shadow: none;
  margin: 10px;
}
.fram_nav {
  background-color: #800000;
}
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: 700;
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #fff;
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-pills {
  --bs-nav-pills-link-active-color:#800;
  --bs-nav-pills-link-active-bg:#f2f2f2;
}
.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius) 0 0 var(--bs-nav-pills-border-radius); 
  font-size: large;
}
.nav-link-sub {
  font-size: 1em !important;
  font-weight: normal;
}

#header_wrap {
  background: #800000;
}
#header_wrap .inner {
  padding: 10px 5px 0px;
}
#main_content {
  padding-top: 10px;
  min-width: 480px;
  max-width: 800px;
}
#main_content_wrap {
  border: 0;
}
#footer_wrap .inner {
  padding: 10px 5px;
}