---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6 {
  color:#800000;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
strong {
  color: #800000;
  font-size: larger;
}
.inline_header {
  display: flex;
  vertical-align: middle;
}
.inline_header img {
  border: none;
  box-shadow: none;
  margin: 10px;
}
.bg-primary {
  background-color: #800000;
}
#header_wrap {
  background: #800000;
}
#header_wrap .inner {
  padding: 10px 5px;
}
#main_content {
  padding-top: 20px;
}
