---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6 {
  color:#800000;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
.inline_header {
  display: flex;
}
.inline_header img {
  border: none;
}
#header_wrap {
  background: #F1F3F4;
}
#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}
