<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <div class="inline_header">
            <img src="/assets/images/FRAM_icon_1.svg" alt="FRAM" width="120" height="120">
            <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          </div>
        </header>
    </div>

<div class="sidebar sticky-top">

  <ul class="nav nav-pills" id="menu">
    <li class="nav-item">
        <a href="#" class="nav-link px-sm-0 px-2">
            <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
    </li>
    <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
            <i class="fs-5 bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
    </li>
    <li>
        <a href="#" class="nav-link px-sm-0 px-2">
            <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Orders</span></a>
    </li>
    <li class="dropdown">
        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="nav-link px-sm-0 px-2">
            <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
    </li>
    <li>
        <a href="#" class="nav-link px-sm-0 px-2">
            <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span> </a>
    </li>
</ul>
</div>

      <!-- MAIN CONTENT -->
      <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
          {{ content }}
        </section>
      </div>


    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">&copy; Copyright Erik Hollnagel 2016. All Rights Reserved.</a></p>
        <p>Maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}. Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
    
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
